@import "tailwindcss";

@theme {
  --font-sans:
    var(--font-funnel-display), ui-sans-serif, system-ui, sans-serif, arial,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* Root for baseui*/
.root {
  isolation: isolate;
}

@layer base;

.contents {
  display: contents;
}

button {
  border: 0px !important;
  transition: all 0.15s ease;
}

button:active:not(.sans-scale) {
  scale: 0.97;
}
